<!DOCTYPE html>
<html lang="en">
<head>
<title>Coupe</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Connor.css') }}"/>
<meta charset="utf-8">
<style>

h2{text-align: center; padding: 0;  font-size: 2em; }
h3{text-align: center; font-family: sans-serif; margin: 2px;}
h4{text-align: left; font-family: sans-serif; }
div {
display: inline-block;
    width: 500px;
    padding: 30px;
    border: 5px solid grey;
    margin: 10px;

}


img{ padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; box-shadow: 0 0 10px #888888; border-radius: 25px;}
</style>
</head>
<body>

 <header>
<a href="login.html"><h4> Log in/Register </h4></a>
   <h1>Coupe</h1>
 </header>
   <nav>

<a href="home.html">HOME</a> <a href="4x4.html">4x4</a> <a href="Saloon.html">Saloon</a> <a href="Hatchback.html">Hatchback</a> <a href="Convertible.html">Convertible</a> <a href="Estate.html">Estate</a> <a href="Coupe.html">Coupe</a> <a href="Contact.html">ContactUs</a>
 </nav>
 <main>
   <table style="width:100%">

		<center>
		<div><h3>The new Range Rover</h3>
			<a href="guessfact.html">
			<img src="Rover.jpeg" alt=“rover”  width="300" height="200">
			<p> Introducing the new 2018 Range Rover </p>
			</a>
		</div>
		<div><h3>The new Range Rover</h3>
			<a href="guessfact.html">
			<img src="Rover.jpeg" alt=“rover”  width="300" height="200">
			<p> Introducing the new 2018 Range Rover </p>
			</a>
		</div>
		<div><h3>The new Range Rover</h3>
			<a href="guessfact.html">
			<img src="Rover.jpeg" alt=“rover”  width="300" height="200">
			<p> Introducing the new 2018 Range Rover </p>
			</a>
		</div>
		<div><h3>The new Range Rover</h3>
			<a href="guessfact.html">
			<img src="Rover.jpeg" alt=“rover”  width="300" height="200">
			<p> Introducing the new 2018 Range Rover </p>
			</a>
		</div>
		<div><h3>The new Range Rover</h3>
			<a href="guessfact.html">
			<img src="Rover.jpeg" alt=“rover”  width="300" height="200">
			<p> Introducing the new 2018 Range Rover </p>
			</a>
		</div>
		<div><h3>The new Range Rover</h3>
			<a href="guessfact.html">
			<img src="Rover.jpeg" alt=“rover”  width="300" height="200">
			<p> Introducing the new 2018 Range Rover </p>
			</a>
		</div>
		</center>


  </main>
</body>
  <footer>Copyright &copy; 2017 Shuayb & Joes</footer>
</html>
